<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nested.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nested.user.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.nested.user.myapplication.CommentryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nested.user.myapplication.FixtureFragment" />
        <activity android:name="com.nested.user.myapplication.MatchDetailsActivity" />
        <activity android:name="com.nested.user.myapplication.SquardDetails" />
        <activity android:name="com.nested.user.myapplication.AboutActivity"></activity>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1971543375558505~8033435599"/>
    </application>

</manifest>